# 해당 파일은 샘플 파일이며, .env 파일을 생성하여 사용하시기 바랍니다.

# 인프라설정 Docker - MySQL DB 설정
DB_NAME=
DB_PASSWORD=
DB_PORT=

# OS별 Docker Platform

## Mac M1/M2/M3 사용시 아래의 주석을 해제하시기 바랍니다.
#DOCKER_DEFAULT_PLATFORM=linux/amd64

## Windows, Intel Mac OS 사용시 아래 주석을 해제하시기 바랍니다.
#DOCKER_DEFAULT_PLATFORM=linux/x86_64