# Node / Package manager
node_modules/
.pnpm-store/

# Environment variables
.env
.env.local
.env.*.local

# Next.js
.next/
out/

# NestJS / Build
dist/
coverage/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Turborepo
.turbo/
