div.main {
    display: flex;
    flex-direction: column;

    >section {
        margin: 0 auto;
        width: 100vw;
        height: 100vh;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    >h2 {
        font-size: 60px;
        letter-spacing: -2.2px;
        font-weight: 700;
        line-height: 80px;
    }

    >p {
        text-align: left;
    }
}