div.main {
    display: flex;

    > section {
        &[data-role="left"] {
            background-color: blue;
        }

        &[data-role="right"] {
            background-color: red;
        }
    }
}
