.header {
    border-bottom: 1px solid var(--footer-border-color);

    >div[data-role='navigation'] {
        padding: 20px 0px;

        >div {
            padding: 0px;
            margin: 0px 20px;
            display: flex;
            align-items: center;

            >h1 {
                position: relative;
                font-family: var(--font-future);
                letter-spacing: -0.04em;

                background: linear-gradient(90deg,
                        var(--color-accent-primary),
                        #a7c4d6,
                        var(--color-accent-primary));

                background-size: 200% auto;
                background-position: 0% center;

                background-clip: text;
                -webkit-background-clip: text;

                color: transparent;
                -webkit-text-fill-color: transparent;

                transition: background-position 0.6s ease;

                &:hover {
                    background-position: 100% center;
                }
            }

            >nav {
                font-size: 1rem;
                font-weight: 700;
                font-style: italic;
                flex-grow: 1;

                >ul {
                    display: flex;
                    justify-content: flex-end;
                    gap: 2rem;
                }
            }
        }
    }
}

.menu {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;

    &:hover {
        color: var(--color-text-primary-hover);
    }
}